@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

body > div {
  width: 40%;
  min-height: fit-content;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-image: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

#date {
}

.weather-container {
  display: flex;
  align-items: center;
}
