@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

body > div {
  min-width: 40%;
  min-height: fit-content;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-image: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.4)
  );
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.date-container {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clock-container {
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-container > div:not(div[class="colon"]) {
  width: 6rem;
  margin: 0 1rem;
  display: flex;
  justify-content: start;
}

#hour {
  width: 5rem;
}

.colon {
  width: 1.5rem;
  display: flex;
  justify-content: center;
}

.weather-container {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temp {
  font-size: 2.5rem;
}

.deg {
  font-size: 1.5rem;
}
